/*
 class of the <body> element changes according to the phase and state of the timer.
 By using these classes, you can change style according to the phase and state.
*/

.phase-0{
    /* styles for body element */
    background-color: #9fc59f;
}
.phase-0 #time{
}

/* after 1st chime before 2nd chime */
.phase-1{
    /* styles for body element */
    background-color: #56a756;
}
.phase-1 #time{
}

/* after 2nd chime before 3rd chime */
.phase-2{
    /* styles for body element */
    background-color: #d17e18;
}
.phase-2 #time{
}

/* after 3rd chime */
.phase-3{
	/* styles for body element */
	background-color: red;
	@keyframes blink {
	  50% {
	    opacity: 0.0;
	  }
	}

  animation: blink 1s step-start 0s infinite;
}
.phase-3 #time {

}

/* classes for states */
.state-stanby{
}

.state-start{
}

.state-paused{
}

.state {
	display: none;
}
